.navbar {
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin-left: 450px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 75%;
  color: #f09046;
}
.rightSide {
  display: flex;
  align-items: center;
}
.offers {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: -600px;
}

.professional {
  margin-left: 20px;
  color: #f09046;
}

.login {
  margin-left: 30px;
}
